<menu>
    <menuitem label='Dashboard'>
        <icon>fas:tachometer-alt fa-fw</icon>
        <action>MaintenanceDashboard</action>
    </menuitem>

    <menuitem label='Operacional'>
        <icon>fas:wrench fa-fw</icon>
        <menu>
            <menuitem label='Ordens de Serviço'>
                <icon>fas:file-medical-alt fa-fw</icon>
                <action>MaintenanceOrderList</action>
            </menuitem>
            <menuitem label='Histórico Geral'>
                <icon>fas:history fa-fw</icon>
                <action>AssetList</action>
            </menuitem>
        </menu>
    </menuitem>

    <menuitem label='Inventário'>
        <icon>fas:cubes fa-fw</icon>
        <menu>
            <menuitem label='Equipamentos'>
                <icon>fas:stethoscope fa-fw</icon>
                <action>AssetList</action>
            </menuitem>
            <menuitem label='Categorias'>
                <icon>fas:tags fa-fw</icon>
                <action>SystemPage</action> </menuitem>
        </menu>
    </menuitem>

    <menuitem label='Equipe'>
        <icon>fas:users fa-fw</icon>
        <menu>
            <menuitem label='Técnicos'>
                <icon>fas:user-md fa-fw</icon>
                <action>TechnicianList</action>
            </menuitem>
        </menu>
    </menuitem>

    <menuitem label='Configurações'>
        <icon>fas:cogs fa-fw</icon>
        <menu>
            <menuitem label='Usuários'>
                <icon>fas:user fa-fw</icon>
                <action>SystemUserList</action>
            </menuitem>
            <menuitem label='Grupos'>
                <icon>fas:users-cog fa-fw</icon>
                <action>SystemGroupList</action>
            </menuitem>

            <menuitem label='Unidades'>
                <icon>fas:university fa-fw</icon>
                <action>SystemUnitList</action>
            </menuitem>

            
            <menuitem label='Programas'>
                <icon>far:file-code fa-fw</icon>
                <action>SystemProgramList</action>
            </menuitem>
            <menuitem label='Logs de Acesso'>
                <icon>fas:key fa-fw</icon>
                <action>SystemAccessLogList</action>
            </menuitem>
             <menuitem label='Preferências'>
                  <icon>fas:cog fa-fw</icon>
                  <action>SystemPreferenceForm#method=onEdit</action>
              </menuitem>
        </menu>
    </menuitem>
    
    <menuitem label='Sair'>
        <action>LoginForm#method=onLogout#static=1</action>
        <icon>fas:sign-out-alt fa-fw</icon>
    </menuitem>
</menu>